<?xml version="1.0" encoding="utf-8" ?>
<config>
  <xml_schema>true</xml_schema>
  <max_parallel_queries>4</max_parallel_queries>
  <timeout>60</timeout>
  <schedule_time>10</schedule_time>
  <ntec_sites>
    <site>
      <title>demo a</title>
      <db_path>configs.db</db_path>
      <default_xml_folder>c:\temp\</default_xml_folder>
    </site>
    <site>
      <title>demo b</title>
      <db_path>configs.db</db_path>
      <default_xml_folder>c:\temp\</default_xml_folder>
    </site>    
  </ntec_sites>
</config>